<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: body">
</div>

<main>
    <div class="container">

        <!-- COURSES -->
        <div class="container" th:if="${show_courses}">
            <h2 class="pb-2 border-bottom mt-4">Available Courses to Enroll</h2>
            <br>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <div class="col" th:each="course: ${courses}">
                    <div class="card shadow-sm bg-light h-100 d-flex flex-column">
                        <div class="card-body">
                            <h4 class="text-center py-2 card-title" th:text="${#strings.abbreviate(course.title, 120)}">Course</h4>
                            <p class="card-text font-italic card-text" th:text="${#strings.abbreviate(course.description, 130)}"> Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROGRAMS -->
        <div class="container">
            <h2 class="pb-2 border-bottom mt-4" th:if="${show_programs}">All Programs</h2>
            <div class="card my-2 my-lg-3" th:if="${show_programs}" th:each="program: ${programs}">
                <div class="card-body">
                    <h2 class="card-title"
                        th:text="${program.fieldOfStudy}"></h2>
                    <p th:inline="text">
                        <strong>[[${program.fieldOfStudy}]]</strong>
                        awards the degree of
                        <strong>[[${program.degree}]]</strong>
                        after completing
                        <strong>[[${program.requiredCreditsToGraduation}]] credits</strong>
                        within
                        <strong>[[${program.requiredYearsToGraduation}]] years</strong>.
                    </p>
                    <h4 class="fw-normal" th:if="${not program.students.empty}">Currently registered students</h4>
                    <table class="table table-striped" th:if="${not program.students.empty}">
                        <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Date of Birth</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student: ${program.students}">
                            <td th:each="value: ${student.firstName}" th:text="${value}">Blank</td>
                            <td th:each="value: ${student.lastName}" th:text="${value}">Blank</td>
                            <td th:each="value: ${student.email}" th:text="${value}">Blank</td>
                            <td th:each="value: ${student.dateOfBirth}" th:text="${value}">Blank</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- SCORES -->
        <div class="container" th:if="${show_scores}">
            <h2 class="pb-2 border-bottom mt-4">All Active Students Learner Profiles, Sorted by GPA</h2>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Current GPA</th>
                    <th scope="col">Number of Credits</th>
                    <th scope="col">Start Year</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="learnerProfile: ${students_profiles}">
                    <td th:each="value: ${learnerProfile.student.firstName}" th:text="${value}">Blank</td>
                    <td th:each="value: ${learnerProfile.student.lastName}" th:text="${value}">Blank</td>
                    <td th:each="value: ${learnerProfile.gpa}" th:text="${value}">Blank</td>
                    <td th:each="value: ${learnerProfile.numberOfCredits}" th:text="${value}">Blank</td>
                    <td th:each="value: ${learnerProfile.startYear}" th:text="${value}">Blank</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- STUDENTS -->
        <div class="container" th:if="${show_students}">
            <h2 class="pb-2 border-bottom mt-4">All Currently Registered Students in the University</h2>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Date of Birth</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student: ${students}">
                    <td th:each="value: ${student.firstName}" th:text="${value}">Blank</td>
                    <td th:each="value: ${student.lastName}" th:text="${value}">Blank</td>
                    <td th:each="value: ${student.email}" th:text="${value}">Blank</td>
                    <td th:each="value: ${student.dateOfBirth}" th:text="${value}">Blank</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small mt-auto">

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
